*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body { 
    min-height: 100vh; 
}

header, footer{
	height: 5vh;
}

header{
	position: sticky;
	top: 0;
}

#container{
	min-height: 90vh;
	display: flex;
}