.projects{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
}

.project-card{
    height: clamp (300px, fit-content, 800px);
    max-width: 400px;
    background-color: aqua;
}